################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TDD-Examples
/Src/TDD-Examples/TDDExample_1/bin
/Src/TDD-Examples/TDDExample_1/obj
/Tests/TDD-Examples/TDDExample_1.UnitTests/bin
/Tests/TDD-Examples/TDDExample_1.UnitTests/obj
