################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TDD-Examples
/TDD-Examples/TDDExample_1/bin
/TDD-Examples/TDDExample_1/obj
/TDD-Examples/TDDExample_1.UnitTests/bin
/TDD-Examples/TDDExample_1.UnitTests/obj
